<ion-grid class="displayTable">
  <ion-card class="displayTableCell">
    <ion-column class="authBlock">
      <ion-card-header>
        <ion-card-subtitle
          ><p class="text-center">
            Please enter your email address to request a password reset.
          </p></ion-card-subtitle
        >
        <ion-card-title>Sign In</ion-card-title></ion-card-header
      >

      <ion-card-content>
        <ion-item>
          <ion-input
            type="email"
            placeholder="Email Address"
            #passwordResetEmail
            required
          ></ion-input>
        </ion-item>

        <!-- Calling ForgotPassword from AuthService Api -->

        <ion-item>
          <ion-button
            size="small"
            color="primary"
            type="submit"
            (click)="authService.ForgotPassword(passwordResetEmail.value)"
            >Reset Password</ion-button
          >
        </ion-item>

        <ion-item>
          <span>Go back to ?</span>
          <ion-button size="small" color="success" [routerLink]="['/sign-in']"
            >Log In</ion-button
          >
        </ion-item>
      </ion-card-content>
    </ion-column>
  </ion-card>
</ion-grid>
