<ion-grid>
  <ion-card>
    <ion-card-header><ion-card-title>Sign Up</ion-card-title></ion-card-header>
    <ion-column>
      <ion-card-content class="formGroup">
        <ion-item>
          <ion-input
            type="email"
            placeholder="Email Address"
            #userEmail
            required
          ></ion-input>
        </ion-item>

        <ion-item>
          <ion-input
            type="password"
            placeholder="Password"
            #userPwd
            required
          ></ion-input>
        </ion-item>

        <ion-item
          ><ion-button
            type="button"
            size="small"
            (click)="authService.SignUp(userEmail.value, userPwd.value)"
            >Sign Up</ion-button
          ></ion-item
        >

        <div class="formGroup">
          <span class="or"><span class="orInner">Or</span></span>
        </div>

        <!-- Continue with Google -->

        <ion-item>
          <ion-button
            size="small"
            color="danger"
            type="button"
            (click)="authService.GoogleAuth()"
          >
            Continue with Google
          </ion-button></ion-item
        >

        <!-- Continue with Facebook -->

        <ion-item
          ><ion-button
            type="button"
            color="tertiary"
            (click)="authService.FacebookAuth()"
          >
            Continue with Facebook
          </ion-button></ion-item
        >

        <ion-item>
          <span>Already have an account?</span>
          <ion-button class="redirect" routerLink="/sign-in">Log In</ion-button>
        </ion-item>
      </ion-card-content>
    </ion-column>
  </ion-card>
</ion-grid>
