<ion-grid>
  <ion-card>
    <ion-card-header><ion-card-title>Sign In</ion-card-title></ion-card-header>
    <ion-column>
      <ion-card-content class="formGroup">
        <ion-item>
          <ion-input
            type="text"
            placeholder="Username"
            #userName
            required
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-input
            type="password"
            placeholder="Password"
            #userPassword
            required
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-button
            size="small"
            (click)="authService.SignIn(userName.value, userPassword.value)"
            >Login</ion-button
          >
        </ion-item>
        <!-- Calling SignIn Api from AuthService -->

        <div class="formGroup">
          <ion-text class="or"><span class="orInner">Or</span></ion-text>
        </div>

        <!-- Calling GoogleAuth Api from AuthService -->

        <ion-item>
          <ion-button
            color="danger"
            size="small"
            (click)="authService.GoogleAuth()"
          >
            <i class="fab fa-google-plus-g"></i>
            Log in with Google
          </ion-button>
        </ion-item>

        <ion-item>
          <ion-button
            color="medium"
            size="small"
            [routerLink]="['/forgot-password']"
            >Forgot Password?</ion-button
          >
        </ion-item>

        <ion-item>
          <span
            >Don't have an account?<ion-button
              size="small"
              class="redirect"
              [routerLink]="['/register-user']"
              color="success"
            >
              Sign Up</ion-button
            >
          </span>
        </ion-item>
      </ion-card-content>
    </ion-column>
  </ion-card>
</ion-grid>
