<ion-grid>
  <ion-card>
    <ion-column>
      <p class="text-center">
        We have sent a confirmation email to <strong>{{ user.email }}</strong
        >.
      </p>
      <p class="text-center">
        Please check your email and click on the link to verfiy your email
        address.
      </p>

      <!-- Calling SendVerificationMail() method using authService Api -->

      <button
        type="button"
        class="btn btnPrimary"
        (click)="authService.SendVerificationMail()"
      >
        <i class="fas fa-redo-alt"></i>
        Resend Verification Email
      </button>

      <span
        >Go back to?<span class="redirect" routerLink="/sign-in">
          Sign in</span
        ></span
      >
    </ion-column>
  </ion-card>
</ion-grid>
